*/ a solução que encontrei foi apagar todo o css para refaze-lo. por se tratar de um projeto diminuto e ter sido propositalmente embaralhado e/ou
alterado para que ocasionasse erros no código, foi muito mais fácil refazer todo o css do que corrigir os problemas dentro de cada tag
/*

*{
    margin:0px;
    box-sizing: border-box;
}
body{
    text-align: center;
}
#hero {
  width: 592px;
  margin: 0px auto 72px;
  
  
}
#hero img {
    margin-bottom: 72px;
}
h1 {
    font-family: 'Inter';
    font-size: 49px;
    font-weight: 500;
    color: black;
    line-height: 56px;
    margin-bottom: 32px;
}
h1 span {
    font-weight: bold;
}
p {
    font-family: 'Open Sans';
    color: rgba(125, 121, 135, 1);
    font-weight: 400;
    font-size: 14px;
}

span {
color: rgba(255, 153, 0, 1);

}
#footer a {
    color: rgba(255, 153, 0, 1);
    
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 28px;
}


#footer a + a {
    margin-left: 28px;
}
#line {
width: 568px;
height: 0px;
border: 1px solid rgba(236, 239, 242, 1);
margin: 0px auto 8px;
}
#balls {
  position: fixed;
  bottom: 0px;
  right: 0;
}
